
<section class="card m-2">
    <section class="card-body">
      <h5 class="text-center card-title">Comment by: {{user.username}}</h5>
      <h6 class="text-center card-subtitle mb-2 text-muted">Date Commented: {{format_date date_created}}</h6>
        <p class = "card-text">{{content}}</p>
    </section>
  </section>
