<section class="col-sm-8 justify-content-center text-center mb-4">
{{#each user as |user|}}
<section class="row">
  <section class="card m-2 localCard">
    <section class="card-body">
      <h5 class="text-center card-title">{{user.blogpost.post_title}}</h5>
      <h6 class= "text-center card-subtitle mb-2 text-muted">Written by: {{user.username}}</h6>
      <h6 class="text-center card-subtitle mb-2 text-muted">{{format_date user.blogpost.date_created}}</h6>
        <p class = "card-text">{{user.blogpost.content}}</p>
    </section>
  </section>
</section>
{{/each}}
</section>