<section class="col-sm-8 justify-content-center text-center mb-4">

<section class="row">
<form class="m-3">
    <h5 class="text-center card-title">Edit Post</h5>
    <section class="mb-3">
    <label for="post_title" class="form-label">Post Title</label>
    <input class="form-control" id="postTitle" name="post_title" type="text" value="{{blogpost.post_title}}" />
    </section>

    <section class="mb-3">
    <label for="content" class="form-label">Post Content</label>
    <input class="form-control p-10" id="postContent" name="content" type="text" value="{{blogpost.content}}" />
    </section>

    <button id= "editPost" class="btn btn-dark localBtn mb-3">Submit</button>
    <button id= "deletePost" class="btn btn-dark localBtn mb-3">Delete Post</button>

  </form>
</section>

</section>

<script src="/js/edit-post.js"></script>