<section class="col-md-6 justify-content-center text-center">
<form class="mb-4">
  <h2>LOGIN</h2>
  <div class="mb-3">
    <label for="user-email" class="form-label">Email</label>
    <input type="email" class="form-control" id="user-email">
  </div>

  <div class="mb-3">
    <label for="user-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="user-password">
  </div>

  <button id="login" class="btn btn-dark localBtn">Login</button>
</form>
</section>

<section class="col-md-6 justify-content-center text-center">
<form class="mb-4">
  <h2>SIGN UP</h2>
  <div class="mb-3">
    <label for="signupEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="signupEmail" aria-describedby="useremail2">
  </div>

  <div class="mb-3">
    <label for="signupUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="signupUsername">
  </div>

  <div class="mb-3">
    <label for="signupPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="signupPassword">
  </div>

  <button id= "signup" class="btn btn-dark localBtn">Submit</button>
</form>
</section>
<script src="./js/login.js"></script>
