<section class="col-sm-8 justify-content-center text-center mb-4">

<section class="row">
<form class="m-3">
    <h5 class="text-center card-title">New Post</h5>
    <section class="mb-3">
    <label for="post_title" class="form-label">Post Title</label>
    <input class="form-control" id="postTitle" name="post_title" type="text" />
    </section>

    <section class="mb-3">
    <label for="content" class="form-label">Post Content</label>
    <input class="form-control" id="postContent" name="content" type="text"/>
    </section>

    <button id= "createPost" class="btn btn-dark localBtn mb-3">Publish</button>

  </form>
</section>

</section>

<script src="/js/new-post.js"></script>